.warna {
    color:tomato;
    font-size: 20px;
}
.kotak1 {
    
    background-color: #2d2d2d;
   border: 5px solid tomato;
   color: white;
   
}
.kotak2 {
    
    background-color: #2d2d2d;
   border: 5px solid aqua;
   color: white;
   
}
